.trippy {
    animation: wheee 3s infinite;
    fill: green !important;
}

@keyframes wheee {
    0% {stroke: red;}
    25% {stroke: yellow;}
    50% {stroke: blue;}
    75% {stroke: green;}
    100% {stroke: red;}
}